<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<targets>
 <target xsi:type="ColoredConsole" name="console" layout="Date:${date:format=yyyy-HH\:mm\:ss}  |  Class:${logger}  |  Level:${level}  |  Message:${message} " />
 <target xsi:type="File"  name="error_file"    fileName="${basedir}/Logs/${shortdate}/logs${shortdate}.txt"
          layout="${longdate} | Class:${logger} | ${level:uppercase=false:padding=-5} | ${message} " />
</targets>


  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
   <logger name="*" minlevel="Error" writeTo="error_file" />
  </rules>
</nlog>